input {
    display: block;
}
@media screen and (max-width: 470px) {
    #text {
        flex-direction: column;
        }
}
#text {
    border-radius: 25px;
    height: 44px;
}
form { 
    margin: 0 auto;
    height: 44px;
}
#google {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    font-family: "Roboto";
    font-weight: 400;
}
#main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#outside-links {
    display: flex;
    align-content: center;
    position: absolute; top: 15px; right: 15px;
}
input[type=submit] {

}